# -----------------------------
# Entorno virtual
# -----------------------------
venv/

# -----------------------------
# Archivos compilados de Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Archivos temporales
# -----------------------------
*.log
*.tmp
*.swp
*.bak

# -----------------------------
# Archivos del sistema
# -----------------------------
Thumbs.db
Desktop.ini
.DS_Store  # macOS

# -----------------------------
# Configuración de editores
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Otros archivos que no subir
# -----------------------------
*.egg-info/
dist/
build/